<div class="navbar">
    <a href="{% url 'airobot:home' %}">Home</a>
    <a href="{% url 'airobot:home' %}">About</a>
    <a href="{% url 'airobot:home' %}">Contact</a>
</div>

<style>
    /* Navbar Styles */
    .navbar {
        background-color: #90b39d; /* WhatsApp green color */
        padding: 10px;
        text-align: right;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        font-weight: bold;
    }

    .navbar a:hover {
        background-color: #1ebe5a; /* Darker green on hover */
        border-radius: 5px;
    }
</style>